html {
	box-sizing: border-box;
	background: #ffc600;
	font-family: 'helvetica neue';
}
body {
	margin: 0;
	text-align: center;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.hero {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
h1 {
	text-shadow: 10px 10px 0 rgba(0,0,0,1);
	font-size: 70px;
}